@use "../abstract/" as *;


.input__text {
  //margin: 1rem 0;
  border:none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--light-gray);
  height: 4.8rem;

  cursor: pointer;

  &:focus{
      outline: 0;
      border-color: var(--blue);
  }

}

.error {
  border-color: var(--red);

  &::placeholder {
    color: var(--red);
    opacity: 0.4;
  }

  &__message{
    font-size: smaller;
    color: var(--red);
  }

}
